{% extends 'base.html' %}

{% block content %}
<div class="container mt-0">
    <div class="card shadow">
        <div class="card-header text-center p-1"> 
            <h2 class="mb-0 text-primary">Streaming Webcam</h2>
        </div>
        <div class="card-body text-center">
            <div class="mb-10">
                <img src="{{ url_for('video_feed') }}" class="img-fluid border rounded" style="max-width: 50%; height: auto;" alt="Streaming Webcam">
            </div>
        </div>
        <div class="card-footer text-center mt-2">
            <a href="{{ url_for('admin_dashboard') }}"class="btn btn-primary">Kembali ke Dashboard</a>
        </div>
    </div>
</div>
{% endblock %}